.page-title {
  font-size: 1.5rem;
}

.btn {
  padding: 0.5rem 1.25rem;
  outline: 1px solid transparent;
  border: 1px solid grey;
  border-radius: 0.25rem;
  background-color: transparent;
}

.new-bug-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-secondary {
  border-color: #2792d9;
  border-width: 2px;
}

.btn-primary {
  background-color: #2792d9;
  border: none;
  color: #fff;
}
