.sidenav-container {
  background-color: #f6f8f9;
  height: 100vh;
  width: 15%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.sidenav-items-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.sprint-type-tabs__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #c3c1c1;
  position: relative;
}


.sprint-type-tabs__container > .type-tab {
  width: 50%;
  padding: 0.5rem;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.sprint-type-tabs__container > .type-tab.active {
  background: #c3c1c1;
}

.logout-btn {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid transparent;
  background-color: rgba(234, 98, 86, 0.826);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: #f6f8f9;
}

.img-sm{
  height: 10px;
  width: 10px;
}
.img-sm.true{
  transform: rotate(180deg);
}
.sidenav-items {
  width: 100%;
}
.nav-dropdown-title{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* row-gap: 10px; */
}

.grey-bg {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0 1rem;
}

.sidenav-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: left;
}

.sidenav-ul a {
  text-decoration: none;
}

.sidenav-icons {
  margin-right: 1rem;
  width: 1.5rem;
  height: 2rem;
}
.sidenav-li-top {
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}
.sidenav-li {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #000;
}
.sidenav-li-active {
  background-color: #87bbec;
  font-weight: 600;
}

.sidenav-li:not(.sidenav-li-active):hover,
.container:hover,
#dropdown-button-drop-end:hover {
  background-color: #d3e7fb;
  cursor: pointer;
}
.dropdown-sidenav {
  background-color: white;
}
#dropdown-button-drop-end {
  background-color: #f6f8f9;
  color: black;
  border: none;
  width: 100%;
}
/* dropdown */
.container {
  position: relative;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

.dropdown-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: 0;
  width: 100%;
  margin-left: 0;
}

.dropdown {
  background-color: white;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.dropdown-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown-item {
  padding: 8px 12px;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
