.backlog__container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.75s ease-in-out;
    transform: translateX(100%);
  }
  
  .show {
    transform: translateX(0);
    backdrop-filter: blur(2px);
  }
  
  .backlog-modal__container {
    background-color: #fff;
    width: 50%;
    height: 100%;
    margin-left: auto;
    box-shadow: -10px 0 20px -5px #6262623a;
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
  
  .modal-detail-text {
    color: #757474;
  }
  
  .backlog-modal__container > .editmode-btn__container {
    height: 3rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  
  .backlog-modal-title {
    font-size: 1.5rem;
  }
  
  .backlog-modal-input__container {
    height: 90%;
    padding-bottom: 2rem;
    overflow-y: auto;
  }
  
  .input-group__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
  }
  
  .modal-input-label {
    font-weight: 500;
  }
  
  .input-group__container > .modal-input-label > span {
    color: #cd6464;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .input-group__container > .modal-input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    outline: 1px solid transparent;
    border: 1px solid #b6b4b4;
    width: 75%;
    color: #4e4e4edc;
    letter-spacing: 1px;
    transition: 0.25s ease;
  }
  
  .modal-input:disabled, .modal-date-input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .modal-input-error {
    border: 1px solid #cd6464 !important;
  }
  
  .input-group__container > .modal-textarea {
    padding: 10px;
    height: 5rem;
    resize: none;
    border-radius: 0.25rem;
    outline: 1px solid transparent;
    border: 1px solid #b6b4b4;
    width: 75%;
    color: #4e4e4edc;
    letter-spacing: 1px;
  }
  
  .modal-date-input__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 37%;
  }
  
  .modal-date-input__container > .modal-input-label > span {
    color: #cd6464;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .modal-date-input__container > .modal-date-input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    outline: 1px solid transparent;
    border: 1px solid #b6b4b4;
    width: 100%;
    color: #4e4e4edc;
    letter-spacing: 1px;
  }
  
  .backlog-modal-action-btn__container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #80808077;
    background-color: #fff;
  }
  
  .btn {
    padding: 0.5rem 1.25rem;
    outline: 1px solid transparent;
    border: 1px solid grey;
    border-radius: 0.25rem;
    background-color: transparent;
  }
  
  .btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .btn-secondary {
    border-color: #2792d9;
    border-width: 2px;
  }
  
  .btn-primary {
    background-color: #2792d9;
    border: none;
    color: #fff;
  }
  