.new-release-modal-content > .modal-dialog {
  width: 30%;
}

.release-form-field > span {
  color: #cd6464;
  font-size: 1rem;
  font-weight: 600;
}

.new-release-modal-btn__container > .btn {
  padding: 0.5rem 1.25rem;
  outline: 1px solid transparent;
  border: 1px solid grey;
  border-radius: 0.25rem;
  background-color: transparent;
}

.new-release-modal-btn__container > .btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.new-release-modal-btn__container > .btn-secondary {
  border-color: #2792d9 !important;
  border-width: 2px;
  overflow: hidden;
}

.new-release-modal-btn__container > .btn-outline-primary {
  border-color: #2792d9 !important;
  border-width: 2px;
  color: #000;
}

.new-release-modal-btn__container > .btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: #fff !important;
  color: #000 !important;
}

.new-release-modal-btn__container > .btn-primary {
  background-color: #2792d9;
  border: none;
  color: #fff;
}

.new-release-modal-btn__container > .btn-primary:hover {
  background-color: #4fafef;
}
