.overall-activity__container {
    height: 90%;
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 20px -5px rgba(163, 164, 164, 0.667);
    padding: 1rem;
}

.overall-activity-chart__container {
    width: 100%;
    height: 100%;
}