.attachments__container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 0.75s ease-in-out;
  transform: translateX(100%);
}

.show {
  transform: translateX(0);
  backdrop-filter: blur(2px);
}

.action-btn__container {
  width: max-content;
  display: flex;
  gap: 0.5rem;
}

.action-icon {
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}

.attachment-form__container {
  position: absolute;
  box-shadow: 0px -6px 8px -4px #80808082;
  width: 100%;
  padding: 0.5rem 15%;
  background-color: inherit;
  bottom: 4rem;
  left: 0;
  transform: translateY(105%);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.attachment-form-show {
  transform: translateY(0);
}

.attachment-modal__container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin-left: auto;
  position: relative;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
}

.attachment-modal-title {
  font-size: 1.5rem;
}

.img-preview{
  width: 27rem;
  height: 15rem;
  object-fit: contain;
  cursor: pointer;
}

.img-preview.full-scr{
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:  100vw;
  height: 100vh;
  object-fit: contain;
  background-color: #2792d995;
  cursor: auto;
}

.h-200{
  height: 150px;
  width: 100%;
}

.close-img-btn{
  position: fixed;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 40px;
  z-index: 500;
  cursor: pointer;
}

.attachment-modal-action-btn__container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #80808077;
  background-color: #fff;
}

.attachment-new-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.btn {
  padding: 0.5rem 1.25rem;
  outline: 1px solid transparent;
  border: 1px solid grey;
  border-radius: 0.25rem;
  background-color: transparent;
  width: max-content;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-secondary {
  border-color: #2792d9;
  border-width: 2px;
}

.btn-primary {
  background-color: #2792d9;
  border: none;
  color: #fff;
}

.attachment-input {
  padding: 0.5rem;
  height: 10rem;
  resize: none;
  border-radius: 0.25rem;
  outline: 1px solid transparent;
  border: 1px solid #b6b4b4;
  width: 75%;
  color: #4e4e4edc;
  letter-spacing: 1px;
}

.attachment-input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attachment-edit__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attachment-edit__container > .attachment-input {
  height: 7rem;
}

.old-attachments__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 85%;
  overflow-y: auto;
  margin-bottom: 1rem;
}
.attachment__container {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.old-attachment__container {
  box-shadow: 0 5px 10px -4px grey;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.old-attachment__container > .attachment-owner__container {
  border-bottom: 1px solid grey;
  padding: 0.5rem;
  color: #7e7f7f;
  display: flex;
  justify-content: space-between;
}

.old-attachment__container > .old-attachment-message {
  padding: 0.5rem;
}

.input-group__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.input-group__container > .modal-input-label > span {
  color: #cd6464;
  font-size: 1rem;
  font-weight: 600;
}

.input-group__container > .modal-input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: 1px solid transparent;
  border: 1px solid #b6b4b4;
  width: 100%;
  color: #4e4e4edc;
  letter-spacing: 1px;
  transition: 0.25s ease;
}

.modal-input-error {
  border: 1px solid #cd6464 !important;
}

.input-group__container > .modal-textarea {
  padding: 0.5rem;
  height: 5rem;
  resize: none;
  border-radius: 0.25rem;
  outline: 1px solid transparent;
  border: 1px solid #b6b4b4;
  width: 75%;
  color: #4e4e4edc;
  letter-spacing: 1px;
}

.modal-detail-text {
  color: #757474;
}

.modal-detail-text > a {
  cursor: pointer;
  color: #757474;
  text-decoration: underline !important;
}